streamlit
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain-groq
sentence-transformers
langchain-community
transformers>=5.0.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
