streamlit
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain-groq
sentence-transformers
langchain-community
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
